<app-nav-bar></app-nav-bar>
  <!-- End Navbar -->
  <div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image" style="background-image:url(../assets/img/bg8.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <form class="form" method="" action="">
              <div class="card-header text-center">
                <div class="">
                  <img src="../assets/img/default.png" alt="" style="width:150px">
                </div>
              </div>
              <div class="card-body">
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Usuario">
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons objects_key-25"></i>
                    </span>
                  </div>
                  <input type="password" placeholder="Contraseña" class="form-control" />
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-info btn-round btn-lg btn-block">Iniciar sesión</a>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>