<app-header></app-header>
<div class="section-contact-us text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{title}}</h2>
          <!-- <h5 class="description">Aqui estan las ultimos trabajos que han sido registrados en el sistema.</h5> -->
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <app-read-solicitante *ngIf="show_read_solicitante_html"
        (show_create_solicitante_event)="showCreateSolicitante($event)">
        </app-read-solicitante>

        <app-create-solicitante
            *ngIf="show_create_solicitante_html"
            (show_read_solicitantes_event)="showReadSolicitantes($event)">
        </app-create-solicitante>
      </div>
    </div>
  </div>
<app-footer></app-footer>
<!-- <app-login></app-login> -->