<nav class="navbar navbar-expand-lg bg-info fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        <div class="dropdown button-dropdown">
        </div>
        <div class="navbar-translate">
        
        <a class="navbar-brand">
            <img src="../../assets/img/logo2.png" alt="" class="img-fluid" style="width:25px">
            Bolsa de trabajo
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar top-bar"></span>
            <span class="navbar-toggler-bar middle-bar"></span>
            <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav" *ngIf="opciones">
            <li class="nav-item">
            <a class="nav-link" (click)="Solicitantes()">Solicitantes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" (click)="Trabajos()">Trabajos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" (click)="Solicitudes()">Solicitudes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" (click)="salir()">Cerrar sesion</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
  <!-- End Navbar -->
<div class="page-header clear-filter" filter-color="blue" *ngIf="logeado">
<div class="page-header-image" style="background-image:url(../assets/img/bg8.jpg)"></div>
<div class="content">
    <div class="container">
    <div class="col-md-4 ml-auto mr-auto">
        <div class="card card-login card-plain">
            <form [formGroup]="login_form" (ngSubmit)="login()">
            <div class="card-header text-center">
            <div class="">
                <img src="../assets/img/default.png" alt="" style="width:150px">
            </div>
            </div>
            <div class="card-body">
            <div class="input-group no-border input-lg">
                <div class="alert alert-danger" role="alert" *ngIf="error">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons objects_support-17"></i>
                        </div>
                        <strong>Error</strong> Usuario o contraseña incorrectos.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </span>
                        </button>
                    </div>
                </div>
                <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons users_circle-08"></i>
                </span>
                </div>
                <input formControlName="Usuario" name="Usuario" type="text" class="form-control" required placeholder="Usuario">
                <div class="alert alert-danger" role="alert" *ngIf="login_form.get('Usuario').touched && login_form.get('Usuario').hasError('required')">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons objects_support-17"></i>
                        </div>
                        <strong>Error</strong> El usuario es un campo requerido.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons objects_key-25"></i>
                </span>
                </div>
                <input formControlName="Pass" name="Pass" type="password" required placeholder="Contraseña" class="form-control" />
                <div class="alert alert-danger" role="alert" *ngIf="login_form.get('Pass').touched && login_form.get('Pass').hasError('required')">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons objects_support-17"></i>
                        </div>
                        <strong>Error</strong> La contraseña es un campo requerido.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </span>
                        </button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-info btn-round btn-lg btn-block" type="submit" [disabled]="login_form.invalid">
                    Iniciar sesión <i class="fas fa-sign-in-alt"></i> 
                </button>
            </div>
        </form>
        </div>
        </div>
    </div>
    </div>
</div>

<app-solicitantes *ngIf="solicitantes"></app-solicitantes>
<app-solicitudes *ngIf="solicitudes"></app-solicitudes>
<app-trabajos *ngIf="trabajos"></app-trabajos>
<app-footer *ngIf="footer"></app-footer>
<!-- <app-login></app-login> -->